{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section class="hero">
        <div class="hero-body">
            <p class="title">
                Bienvenue!
            </p>
            <p class="subtitle">
                voici quelques jeux de mot "drôle" (selon leur auteur)
            </p>
            <ul>
                <li>Un jour, Dieu demanda à Casto de ramer.Depuis ce jour, Castorama.</li>
                <li>Un jour, j’ai fait une blague sur Carrefour, mais elle n’a pas supermarché.</li>
                <li>Un jour, j’ai fait une blague à un parisien, mais il n’a paris.</li>
                <li>Connaissez-vous l’histoire de la feuille de papier? C’est dommage puisqu’elle déchire.</li>
            </ul>
        </div>
        <p></p>
    </section>
{% endblock %}
