{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
<h1 class="title">Lucky Number</h1>
    <h2 class="subtitle">Et vous?, quel est le vôtre?</h2>

    <div class="has-text-primary">{{ number }}</div>
{% endblock %}
